<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/config.css">
    <title>Configuracion</title>
</head>
<body>
    <%-include ("./header")%>
    <div class="container pt-5 mb-3">
        <h2>Configuracion</h2>
    
        <div class="box_one">
            <div class="box_open">
                <div class="titles_config">
                    <p class="fs-5 text-primary m-0">Equipo de ventas (Cajeros)</p>
                    <div class="open_card_one">
                        <span class="material-symbols-outlined open_card_one btn_open_card fs-2">keyboard_arrow_down</span>
                    </div>
                </div>
                <div class="cardOpen">
                    <div class="m_l">
                        
                        <form class="create_cashier_card">
                            <p class="fs-4 text-center">Crear cajero/a</p>
                            <div class="">
                                <div class="mb-2">
                                    <input type="text" class="form-control" required placeholder="Nombre" id="name">
                                </div>
                                <div class="mb-2">
                                    <input type="text" class="form-control" required placeholder="Apellido" id="lastName">
                                </div>
                                <div class="mb-2">
                                    <input type="text" class="form-control" required placeholder="Cedula/Pasaporte" id="id_document">
                                </div>
                                <div class="mb-2">
                                    <input type="number" class="form-control" id="tel" placeholder="Telefono">
                                </div>
                                <div class="mb-3">
                                    <input type="email" class="form-control" placeholder="Correo"  id="email">
                                </div>
                                <div class="">
                                    <button type="button" class="btn btn-primary form-control" id="btn_add_user">Agragar Cajero</button>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="form_list">
                        <div class="card_contain">
                            <div class="xss">
                                <table class="table m-0">
                                    <thead>
                                    <tr>
                                        <th scope="col">Nombre</th>
                                        <th scope="col">Apellido</th>
                                        <th scope="col">Codigo</th>
                                        <th scope="col">Cedula/Pasapt</th>
                                        <th scope="col">Estado</th>
                                        <th scope="col">Accion</th>
                                    </tr>
                                    </thead>
                                    <tbody class="showListCashiers"></tbody>
                                </table>
                            </div>
                            <div class="tfoot"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="box_one">
            <div class="box_open ">
                <div class="titles_config">
                    <p class="fs-5 text-primary">Informacion de su negocio y control de facturacion</p>
                    <div class="open_card_two">
                        <span class="material-symbols-outlined open_card_two btn_open_card fs-2">keyboard_arrow_down</span>
                    </div>
                </div>
                <div class="cardOpen">
                    <div class="m_l"></div>
                    <div class="form_list">
                        <div class="" id="msg_err"></div>
                        <p class="fs-2" id="show_s_n"></p>
                        <div class="card_contain">
                            <form action="" class="row d-flex mb-4">
                                <div class="input-groupe col-sm-10 mb-3">
                                    <input type="text" id="store_name" class="form-control" placeholder="Coloque aqui el nombre de su negocio">
                                </div>
                                <div class="input-groupe col-sm-10 mb-3">
                                    <input type="text" id="store_address" class="form-control" placeholder="Coloque aqui la direccion de su negocio">
                                </div>
                                <div class="input-groupe col-sm-10 mb-3">
                                    <textarea type="text" id="store_foot_text" class="form-control" placeholder="pie de factura"></textarea>
                                </div>
                                <div class="input-groupe col-sm-2 ">
                                    <button type="button" id="btn_storeName" class="btn btn-primary">Enviar</button>
                                </div>
                            </form>
                        </div>
                        <div class="d-flex mb-3 mt-3">
                            <input type="checkbox" name="" id="cashierName" class="me-3">
                            <p class="mb-0">Agregar nombre del cajero/a a la factura</p>
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <div class="box_one">
            <div class="box_open">
                <div class="titles_config">
                    <p class="fs-5 text-primary">Control de ventas y productos</p>
                    <div class="open_card_three">
                        <span class="material-symbols-outlined open_card_three btn_open_card fs-2">keyboard_arrow_down</span>
                    </div>
                </div>
                <div class="cardOpen">
                    <div class="m_l"></div>
                    <div>
                        <div class="d-flex mb-3">
                            <input type="checkbox" name="" id="addITBIS" class="me-3">
                            <p class="mb-0">Agregar (ITBIS) a los productos</p>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" data-bs-backdrop="static">
        <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Cajero/a</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="show_detail_cashier" id="show_detail_cashier"></div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
        </div>
    </div>

    <script type="module" src="../js/config.js"></script>
    <script src="../js/bootstrap.bundle.min.js" ></script>
</body>
</html>