<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/config.css">
    <title>Configuracion</title>
</head>
<body>
    <%-include ("./header")%>
    <div class="container pt-5">
        <h2>Configuracion</h2>
    
        <div class="box_one">
            <div class="titles_config">
                <p class="fs-5 text-primary">Equipo de ventas (Cajeros)</p>
            </div>
            <div class="form_list">
                <form class="mb-3">
                    <div class="row mb-2">
                        <div class="col">
                            <input type="text" class="form-control" required placeholder="Nombre" id="name">
                        </div>
                        <div class="col">
                            <input type="text" class="form-control" required placeholder="Apellido" id="lastName">
                        </div>
                        <div class="col">
                            <input type="text" class="form-control" required placeholder="Cedula/Pasaporte" id="id_document">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <input type="number" class="form-control" id="tel" placeholder="Telefono">
                        </div>
                        <div class="col">
                            <input type="email" class="form-control" placeholder="Correo"  id="email">
                        </div>
                        <div class="col">
                            <button type="button" class="btn btn-primary" id="btn_add_user">Agragar Cajero</button>
                        </div>
                    </div>
                </form>

                <table class="table">
                    <thead>
                      <tr>
                        <th scope="col">#</th>
                        <th scope="col">Nombre</th>
                        <th scope="col">Apellido</th>
                        <th scope="col">Codigo</th>
                        <th scope="col">Cedula/Pasapt</th>
                        <th scope="col">Estado</th>
                        <th scope="col">Accion</th>
                      </tr>
                    </thead>
                    <tbody class="showListCashiers"></tbody>
                </table>
                <!-- <div class=""></div> -->
            </div>
        </div>

        <div class="box_one">
            <div class="titles_config">
                <p class="fs-5 text-primary">Informacion de su negocio</p>
            </div>
            <div class="form_list">
                <div class="" id="msg_err"></div>
                <p class="fs-2" id="show_s_n"></p>
                <form action="" class="row d-flex mb-4">
                    <div class="input-groupe col-sm-10 mb-3">
                        <input type="text" id="store_name" class="form-control" placeholder="Coloque aqui el nombre de su negocio">
                    </div>
                    <div class="input-groupe col-sm-10 mb-3">
                        <input type="text" id="store_address" class="form-control" placeholder="Coloque aqui la direccion de su negocio">
                    </div>
                    <div class="input-groupe col-sm-2 ">
                        <button type="button" id="btn_storeName" class="btn btn-primary">Enviar</button>
                    </div>
                </form>
            </div>

        </div>
    </div>

    <!-- modals -->
    <!-- Button trigger modal -->
    <!-- <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
        Launch demo modal
    </button> -->
    
    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" data-bs-backdrop="static">
        <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Cajero/a</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="show_detail_cashier" id="show_detail_cashier"></div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
        </div>
    </div>

    <script type="module" src="../js/config.js"></script>
    <script src="../js/bootstrap.bundle.min.js" ></script>
</body>
</html>