<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/config.css">
    <title>Configuracion</title>
</head>
<body>
    <%-include ("./header")%>

    <div class="card_emergent_alert"></div>
    <div class="msg_err" id="msg_err"></div>

    <div class="my_container container_config config">
        <div class="main_container">
            <div class="card_container pb-5">
                <div class="the_title">
                    <h3 class="mb-1">Configuracion</h3>
                </div>
            
                <div class="cards mt-5">
                    <div class="titles_config">
                        <p class="fs-4 m-0">Cuentas</p>
                    </div>
                    <div class="cards_body">
                        <div class="acount_title">
                            <p style="font-weight: 700;">Cuenta Principal</p>
                        </div>
                        <div class="boxs">
                            <div class="names"> <p>Nombre</p> </div>
                            <div class="contain"> <p><%=user.name%></p> </div>
                        </div>
                        <div class="boxs">
                            <div class="names"> <p>Apellido</p> </div>
                            <div class="contain"> <p><%=user.lastName%></p> </div>
                        </div>
                        <div class="boxs">
                            <div class="names"> <p>Correo electronoco</p> </div>
                            <div class="contain"> <p><%=user.email%></p> </div>
                        </div>
                        <!-- <div class="boxs">
                            <div class="names"> <p>Contrasena</p> </div>
                            <div class="contain"> <p>..............</p> </div>
                        </div> -->

                        <div class="acount_title mt-4">
                            <p class="" style="font-weight: 700;">Cuenta del negocio</p>
                        </div>
                        <div class="boxs">
                            <div class="names"> <p>Nombre</p> </div>
                            <div class="contain">
                                <form action="">
                                    <div class="input-groupe mb-3 d-flex gap-3">
                                        <input type="text" id="store_name" class="form-control" placeholder="Nombre">
                                        <button type="button" id="btn_store_nam" class="btn btn-primary">Enviar</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <div class="boxs">
                            <div class="names"> <p>Telefono</p> </div>
                            <div class="contain">
                                <form action="">
                                    <div class="input-groupe mb-3 d-flex gap-3">
                                        <input type="number" id="store_number" class="form-control" placeholder="Telefono">
                                        <button type="button" id="btn_store_number" class="btn btn-primary">Enviar</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <div class="boxs">
                            <div class="names"> <p>Direccion</p> </div>
                            <div class="contain">
                                <form action="">
                                    <div class="input-groupe mb-3 d-flex gap-3">
                                        <input type="text" id="store_address" class="form-control" placeholder="Direccion">
                                        <button type="button" id="btn_store_ads" class="btn btn-primary">Enviar</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <div class="boxs">
                            <div class="names"> <p>Tipo de negocio</p> </div>
                            <div class="contain"> <p id="store_type"></p> </div>
                        </div>

                        <!-- <div class="acount_title mt-4">
                            <p class="" style="font-weight: 700;">Clientes</p>
                        </div>
                        <div class="boxs">
                            <div class="names"> <p>Contrasena</p> </div>
                            <div class="contain"> <p>..............</p> </div>
                        </div> -->
                    </div>
                </div>

                <div class="cards mt-5 mb-5">
                    <div class="titles_config">
                        <p class="fs-4 m-0">Facturacion, control de productos y ventas</p>
                    </div>
                    <div class="cards_body">
                        <div class="acount_title">
                            <p class="" style="font-weight: 700;">Facturacion</p>
                        </div>
                        <div class="boxs mb-3">
                            <div class="names"> <p>Impresion de factura</p> </div>
                            <div class="contain">
                                <form action="">
                                    <div class="mb-1">
                                        <input type="radio" name="t_fatura" id="ticket" value="ticket" class="me-2">
                                        <label for="">Ticket</label>
                                    </div>
                                    <div>
                                        <input type="radio" name="t_fatura" id="digital" value="digital" class="me-2">
                                        <label for="">Impresion digital</label>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <div class="boxs mb-3">
                            <div class="names"> <p>Usuario/cajero</p> </div>
                            <div class="contain d-flex align-items-center">
                                <input type="checkbox" name="" id="cashierName" class="me-2">
                                <label for="" class="">Agregar nombre del cajero/a a la factura</label>
                            </div>
                        </div>
                        <div class="boxs">
                            <div class="names"> <p>Pie de factura</p> </div>
                            <div class="contain">
                                <form action="">
                                    <div class="input-groupe f_foot">
                                        <textarea type="text" id="store_foot_text" class="form-control" placeholder="pie de factura"></textarea>
                                        <button type="button" class="btn btn-primary" id="btn_store_ftx">Agregar</button>
                                    </div>
                                </form>
                            </div>
                        </div>

                        <div class="acount_title mt-5">
                            <p class="" style="font-weight: 700;">Control de productos y ventas</p>
                        </div>
                        <div class="boxs">
                            <div class="names"> <p>ITBIS</p> </div>
                            <div class="contain">
                                <div class="d-flex align-items-center mb-2">
                                    <input type="checkbox" name="" id="addITBIS" class="me-2">
                                    <label for="" class="">Agregar (ITBIS) a los productos</label>
                                </div>
                                <div class="d-flex align-items-center">
                                    <input type="checkbox" name="" id="useITBIS" class="me-2">
                                    <label for="" class="">Usar (ITBIS) en las ventas</label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div> 
            </div>
        </div>
    </div>

    <script type="module" src="../js/config.js"></script>
    <script src="../js/bootstrap.bundle.min.js" ></script>
</body>
</html>