<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../css/bootstrap.min.css" rel="stylesheet" >
    <link rel="stylesheet" href="../css/factura.css" media="print">
    <title>Document</title>
</head>
<body>
    <%-include ("./header")%>

    <div class="container">
        <h1 class="hide_f">factura</h1>
        <div class="box_fac" id="fbody"></div>
        <button class="btn btn-primary hide_f mb-5" id="print_factura">Imprimir factura</button>
    </div>

    <script type="module" src="../js/factura.js"></script>
</body>
</html>