<!DOCTYPE html>
<html lang="es">
<head>
    <!-- Google tag (gtag.js) -->
   <script async src="https://www.googletagmanager.com/gtag/js?id=G-DZVBC9HD5G"></script>
   <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'G-DZVBC9HD5G');
    </script>
    <meta charset="UTF-8">
    <meta name="language" content="spanish">
    <meta name="copyright" content="Killy Cenecharles">
    <meta name="author" content="Killy Cenecharles">
    <meta name="audience" content="all">
    <meta name="keywords" content="nel-vann.net, nelvann, sistema de punto de venta gratis, punto de venta online gratis">
    <meta name="robots" content="index, all, follow">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="NELvann es un sistema de punto de venta que brinda servicios de tus necesidades acuerdo a tu negocio sin importa si tu negocio es grande o pequeno.">
    <meta priority="og:title" content="Punto de ventas online gratis">
    <meta property="og:site_name" content="nelvann">
    <meta priority="og:description" content="NELvann es un sistema de punto de venta que brinda servicios de tus necesidades acuerdo a tu negocio sin importa si tu negocio es grande o pequeno.">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="../css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="../css/index.css">
    <link rel="stylesheet" href="../css/animateBG.css">
    <link href="https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,500;1,300;1,600;1,700&family=Prompt:wght@300;400;500&display=swap" rel="stylesheet">
    <title>NELvann: sistemas de punto de ventas online gratis</title>
</head>
<body>
    <nav>
        <a href="/" class="logo">
            <img src="../img/logonelvann.png" alt="">
        </a>
        <ul>
            <li><a href="/iniciar-sesion" >Iniciar sesion</a></li>
            <li class="m_none"><a class="active" href="/registrar" >Registrar</a></li>
        </ul>
    </nav>

    <div class="main-containe">
        <section class="box-slider">
            <div class="containx">
                <div class="card_img">
                    <div class="box_img">
                        <picture class="img">
                            <img src="../img/imgnelvann.png" alt="image">
                        </picture>
                    </div>
                    <div class="htxd">
                        <div class="main_tx">
                            <h1>LA FORMA MÁS FÁCIL DE ORGANIZAR Y ADMINISTRAR TU NEGOCIO.</h1>
                            <p>NELvann es un sistema de punto de venta que brinda servicios de tus necesidades acuerdo a tu negocio sin importa si tu negocio es grande o pequeño.</p>
                            <div class="join">
                                <a href="/registrar" >Unete. Es Gratis</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="area" >
                <ul class="circles">
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                </ul>
            </div>
        </section>

        
        <section class="box-service">
            <div class="text-service">
                <p>Nuetros servicios</p>
            </div>
            <div class="box-center">
                <div class="card-text">
                    <div>
                        <div class="image_card">
                            <img src="../img/register.png" alt="">
                        </div>
                        <div class="card_head">
                            <p class="">Registro de Productos</p>
                        </div>
                        <div class="card_body">
                            <p>En NELvann puedes registrar y actualizar tus productos o servicios de una manera simple, facil y rapida.</p>
                        </div>
                    </div>
                </div>
                <div class="card-text">
                    <div>
                        <div class="image_card">
                            <img src="../img/analis.png" alt="">
                        </div>
                        <div class="card_head">
                            <p class="">Analisis de Ventas</p>
                        </div>
                        <div class="card_body">
                            <p>Para tener un mayor control de tus ventas en NELvann tenemos la herramienta que te permite hacer analisis generales e individuales.</p>
                        </div>
                    </div>
                </div>
                <div class="card-text">
                    <div>
                        <div class="image_card">
                            <img src="../img/billing.png" alt="">
                        </div>
                        <div class="card_head">
                            <p class="">Facturacion</p>
                        </div>
                        <div class="card_body">
                            <p>Una parte muy importante sobre un negocio es la facturacion, por eso en NELvann encontraras diferentes maneras para realizar tus facturas.</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section>
            <div class="section2">
                <div class="text_s2">
                    <h2>Conectate donde quiera que estes y mantente informado de lo que pasa en tu negocio.</h2>
                </div>
                <div class="img_s2">
                    <picture class="user_img">
                        <img src="../img/uservann.jpg" alt="user image">
                    </picture>
                </div>
            </div>
        </section>

        <section class="nube">
            <div class="nube2">
                <div class="img_cloud">
                    <img src="../img/cloud.png" alt="">
                </div>
                <div class="cloud_text">
                    <div class="x1">
                        <p class="fs-1">Cual es la diferencia entre NELvann y otros?</p>
                    </div>
                    <div class="x2">
                        <p class="fs-3">NELvann es un sistema completamente en la nube por lo tanto tienes acceso en tiempo real donde quiera que estes para mantenerte 
                            actualizado en todo momento de tus ventas.
                        </p>
                    </div>
                </div>
                
            </div>
        </section>

        <section class="space4">
            <div class="section5">
                <h3>Que esperas para ser parte</h3>
                <p>Crea tu cuenta hoy mismo y comienza a usarlo totalmente gratis</p>
    
                <div class="btn_f">
                    <a href="/registrar">Crear mi cuenta</a>
                </div>
            </div>
        </section>

        <!-- <%-include ('./plan')%> -->
    </div>



    <div class="fooder">
        <div class="card_fooder">
            <div class="card_logo_white">
                <img src="../img/logonelvann_1.png" alt="">
            </div>
            <div class="more_info">
                <div class="about">
                    <p class="fs-5 color_w">Sobre Nosotros</p>
                    <div class="sn">
                        <p>Estamos comprometido a desarrollar software de calidad y eficiente facilitando tus labores y dar mejores resultados</p>
                    </div>
                </div>
                <div class="contact">
                    <p class="fs-5 color_w">Contacto</p>
                    <div class="ct">
                        <p class="tell">Tell: 829-890-0985</p>
                        <p class="email ">Email: killycenecharles30@gmail.com</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="copyright">
            <p>Copyright © 2022 nelvann. Todos los derechos reservados.</p>
        </div>
    </div>
    
</body>
</html>