<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="../css/index.css">
    <title>Vann</title>
</head>
<body>
    <nav>
        <div class="logo">
            <img src="../img/logo12.png" alt="">
        </div>
        <ul>
            <li><a href="/iniciar-sesion" >Iniciar sesion</a></li>
            <li><a class="active" href="/registrar" >Registrar</a></li>
        </ul>
    </nav>

    <div class="main-containe">
        <div class="box-slider">
            <div class="htxd">
                <div class="main_tx">
                    <h2>La forma mas facil de adminitrar tu negocio</h2>
                    <p>Vann es un sistema de punto de venta que brinda servicios de tus necesidades acuerdo a tu negocio sin importa si tu negocio es grande o pequeno</p>
                    <a href="/registrar" >Unete. Es Gratis</a>
                </div>
            </div>
            <div class="img">
                <img src="../img/cajero.png" alt="">
            </div>
        </div>
        <div class="text-service">
            <p>Nuetros servicios</p>
        </div>

        <div class="box-service">
            <div class="box-center">
                <div class="card-text">
                    <div>
                        <div class="card_head">
                            <p class="">Registro de Productos</p>
                        </div>
                        <div class="card_body">
                            <p>En Vann puedes registrar tus productos de una manera facil y rapida</p>
                        </div>
                    </div>
                </div>
                <div class="card-text">
                    <div>
                        <div class="card_head">
                            <p class="">Analisis de Ventas</p>
                        </div>
                        <div class="card_body">
                            <p>Para tener un mayor control de tus ventas en Vann tenemos la herramienta que te permite hacer analisis generales e individuales</p>
                        </div>
                    </div>
                </div>
                <div class="card-text">
                    <div>
                        <div class="card_head">
                            <p class="">Facturacion</p>
                        </div>
                        <div class="card_body">
                            <p>Una parte muy importante sobre un negocio es la facturacion, por eso en Vann encontraras diferentes maneras para realizar tus facturas</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="nube">
            <div class="nube2">
                <div class="img_cloud">
                    <img src="../img/nube.png" alt="">
                </div>
                <div class="cloud_text">
                    <p>Vann es un sistema completamente en la nube por lo tanto tienes acceso en tiempo real donde quiera que estes para mantenerte 
                        actualizado en todo momento de tus ventas 
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="fooder">
        <div class="card_logo_white">
            <img src="../img/logo_white.png" alt="">
        </div>
    </div>
    
    
</body>
</html>