<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Tienes un negocio y necesitas un punto de ventas para manejar lo, pues ya lo encontraste">
    <meta priority="og:title" content="Punto de ventas online totalmente gratis">
    <meta priority="og:description" content="Vann es un sistema de punto de venta que brinda servicios de tus necesidades acuerdo a tu negocio sin importa si tu negocio es grande o pequeno.">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="../css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="../css/index.css">
    <link rel="stylesheet" href="../css/animateBG.css">
    <link href="https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,500;1,300;1,600;1,700&family=Prompt:wght@300;400;500&display=swap" rel="stylesheet">
    <title>Vann, sistemas de punto de ventas online</title>
</head>
<body>
    <nav>
        <div class="logo">
            <img src="../img/logo12.png" alt="">
        </div>
        <ul>
            <li><a href="/iniciar-sesion" >Iniciar sesion</a></li>
            <li><a class="active" href="/registrar" >Registrar</a></li>
        </ul>
    </nav>

    <div class="main-containe">
        <div class="box-slider">
            <div class="containx">
                <div class="htxd">
                    <div class="main_tx">
                        <h1>TIENES UN NEGOCIO Y NECESITAS UN PUNTO DE VENTA?</h1>
                        <p>Pues ya lo encontraste!</p>
                        <p>Vann es un sistema de punto de venta que brinda servicios de tus necesidades acuerdo a tu negocio sin importa si tu negocio es grande o pequeno.</p>
                        <div class="join">
                            <a href="/registrar" >Unete. Es Gratis</a>
                        </div>
                    </div>
                </div>
                <div class="img">
                    <img src="../img/cajero.png" alt="">
                </div>
            </div>
            <div class="area" >
                <ul class="circles">
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                </ul>
            </div>
        </div>

        <div class="text-service">
            <p>Nuetros servicios</p>
        </div>

        <div class="box-service">
            <div class="box-center">
                <div class="card-text">
                    <div>
                        <div class="image_card">
                            <img src="../img/register.png" alt="">
                        </div>
                        <div class="card_head">
                            <p class="">Registro de Productos</p>
                        </div>
                        <div class="card_body">
                            <p>En Vann puedes registrar y actualizar tus productos o servicios de una manera facil y rapida.</p>
                        </div>
                    </div>
                </div>
                <div class="card-text">
                    <div>
                        <div class="image_card">
                            <img src="../img/analis.png" alt="">
                        </div>
                        <div class="card_head">
                            <p class="">Analisis de Ventas</p>
                        </div>
                        <div class="card_body">
                            <p>Para tener un mayor control de tus ventas en Vann tenemos la herramienta que te permite hacer analisis generales e individuales.</p>
                        </div>
                    </div>
                </div>
                <div class="card-text">
                    <div>
                        <div class="image_card">
                            <img src="../img/billing.png" alt="">
                        </div>
                        <div class="card_head">
                            <p class="">Facturacion</p>
                        </div>
                        <div class="card_body">
                            <p>Una parte muy importante sobre un negocio es la facturacion, por eso en Vann encontraras diferentes maneras para realizar tus facturas.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="nube">
            <div class="nube2">
                <div class="img_cloud">
                    <img src="../img/cloud.png" alt="">
                </div>
                <div class="cloud_text">
                    <div class="x1">
                        <p class="fs-1">Cual es la diferencia entre Vann y otros?</p>
                    </div>
                    <div class="x2">
                        <p class="fs-3">Vann es un sistema completamente en la nube por lo tanto tienes acceso en tiempo real donde quiera que estes para mantenerte 
                            actualizado en todo momento de tus ventas.
                        </p>
                    </div>
                </div>
                
            </div>
        </div>

        <div class="space4">
            <h3>Que esperas para ser parte de Vann</h3>
            <p>Crea tu cuenta hoy mismo</p>

            <div class="btn_f">
                <a href="/registrar">Crear</a>
            </div>
        </div>
    </div>

    <div class="fooder">
        <div class="card_fooder">
            <div class="card_logo_white">
                <img src="../img/logo_white.png" alt="">
            </div>
            <div class="more_info">
                <div class="about">
                    <p class="fs-5 color_w">Sobre Nosotros</p>
                    <div class="sn">
                        <p>Comprometido a desarrollar software de calidad y eficiente facilitando tus labores y dar mejores resultados</p>
                    </div>
                </div>
                <div class="contact">
                    <p class="fs-5 color_w">Contacto</p>
                    <div class="ct">
                        <p class="tell">Tell: 829-890-0985</p>
                        <p class="email ">Email: killycenecharles30@gmail.com</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="copyright">
            <p>Copyright © 2022 Vann. Todos los derechos reservados.</p>
        </div>
    </div>
    
    
</body>
</html>