
<head>
    <link rel="stylesheet" href="../css/plan.css">
</head>
<section>
    <div class="box_plans">
        <div class="card_center">         
            <div class="card_includes">
                <table>
                    <thead>
                        <tr>
                            <th class="include"></th>
                            <th>Gratis</th>
                            <th>Pro</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Registro de clientes</td>
                            <td>x</td>
                            <td>X</td>
                        </tr>
                        <tr>
                            <td>Registro de productos</td>
                            <td>X</td>
                            <td>X</td>
                        </tr>
                        <tr>
                            <td>Usuarios</td>
                            <td>X</td>
                            <td>X</td>
                        </tr>
                        <tr>
                            <td>Facturacion</td>
                            <td>X</td>
                            <td>X</td>
                        </tr>
                        <tr>
                            <td>Facturacion ticket</td>
                            <td>X</td>
                            <td>X</td>
                        </tr>
                        <tr>
                            <td>Facturacion digital</td>
                            <td>X</td>
                            <td>X</td>
                        </tr>
                        <tr>
                            <td>Ventas</td>
                            <td>X</td>
                            <td>X</td>
                        </tr>
                        <tr>
                            <td>Analisis de ventas</td>
                            <td>X</td>
                            <td>X</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="card_type_plans">
                <div class="card_free">

                </div>
                <div class="card_pro">

                </div>
            </div>
        </div>
    </div>
</section>