<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="../css/login.css">
    <title>NELvann: Crea tu cuenta</title>
</head>
<body>

    <div class="containe">
        <div class="card_1">
            <div class="card_contain">
                <div class="card_h">
                    <a href="/">
                        <img src="../img/logonelvann.png" alt="">
                    </a>
                </div>
                <div class="tx mt-3">
                    <p class="fs-3 text-center">Registrate</p>
                </div>
                <div class="w-100 d-flex justify-content-center">
                    <% if(signupMessage != ''){ %>
                        <div class="alert alert-danger p-2 text-center" role="alert" style="min-width: 300px;">
                            <%=signupMessage%>
                        </div>
                    <%}%>
                </div>
                <div class="form">
                    <form action="/signup" method="post" id="signup">
                        <div class="input-group mb-3">
                            <input type="text" class="form-control" required name="name" placeholder="Nombre" id="">
                        </div>
                        <div class="input-group mb-3">
                            <input type="text" class="form-control" required name="lastName" placeholder="Apellido" id="">
                        </div>
                        <div class="input-group mb-3">
                            <input type="email" class="form-control" required placeholder="Ingresa tu correo" name="email">
                        </div>
                        <div class="input-group mb-3">
                            <input type="password" class="form-control" required name="password" placeholder="Ingrese tu contrasena" id="inputPass">
                        </div>
                        <div>
                            <p class="text-danger" id="security_text"></p>
                        </div>
                        <div class="input-group">
                            <button class="btn form-control" type="submit">Registrar</button>
                        </div>
                    </form>
                </div>
                <div class="tsx">
                    <p class="fs-6 text-center mt-3">Ya tienes una cuenta? <a href="/iniciar-sesion">Inicia sesion aqui</a></p>
                </div>
            </div>
        </div>
    </div>
    
    <script src="../js/signup.js"></script>
</body>
</html>