*{
    box-sizing: border-box;
}

.cardx1{
    display: flex;
    width: 100%;
    margin-top: 20px;
    justify-content: space-between;
}

.box1{
    width: 24%;
    height: 120px;
    display: flex;
    flex-wrap: wrap;
    border-radius: 7px;
    /* border: 1px solid rgb(223, 223, 223); */
    box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;
    background-color: #ffffff;
}
.tx{
    width: 100%;
    padding: 10px;
}
.tx .px{
    font-size: 22px;
    /* color: #5f5f5f; */
}
.t_i{
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-between;
}
._icons{
    min-width: 50px;
    max-width: 50px;
    height: 50px;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.one{
    background-color: rgba(27, 248, 15, 0.286);
}
.one span{
    color: rgb(6, 125, 0);
    font-weight: 600;
    font-size: 35px;
}
.two{
    background-color: rgba(69, 15, 248, 0.286);
}
.two span{
    font-weight: 600;
    color: rgba(31, 9, 102, 0.993);
    font-size: 30px;
}
.three{
    background-color: rgba(248, 104, 15, 0.286);
}
.three span{
    color: rgb(169, 65, 0);
    font-weight: 600;
    font-size: 30px;
}
.four{
    background-color: rgba(248, 221, 15, 0.286);
    padding-bottom: 5px;
}
.four span{
    color: rgb(159, 141, 0);
    font-weight: 600;
    font-size: 30px;
}

.total{
    margin: 0;
    font-weight: 700;
    color: rgb(0, 92, 191);
    font-size: 32px;
}
.deco{
    width: 100%;
    height: 7px;
    /* background-color: #3b9a36; */
    display: flex;
    align-self: flex-end;
}
.des{
    width: 100%;
    height: 7px;
    /* background-color: rgba(255, 248, 59, 0.959); */
    display: flex;
    align-self: flex-end;
}


.csxt{
    margin: 0;
    font-weight: 700;
    color: rgb(1, 29, 58);
    font-size: 32px;
}

.card_filter{
    width: 100%;
    height: 100px;
    margin-top: 30px;
    border-radius: 7px;
    /* border: 1px solid rgb(223, 223, 223); */
    box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;
    background-color: #ffffff;
}

.box_chart{
    width: 100%;
    height: 400px;
    display: flex;
    margin-top: 30px;
    justify-content: space-between;

}
.card_chart{
    width: 49%;
    height: 100%;
    padding: 10px;
    border-radius: 7px;
    /* border: 1px solid rgb(223, 223, 223); */
    box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;
    background-color: #ffffff;
}

.grow{
    /* width: calc(100% - 700px); */
    width: 49%;
    height: 100%;
    padding: 10px;
    border-radius: 7px;
    /* border: 1px solid rgb(223, 223, 223); */
    box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;
    background-color: #ffffff;
}
.card_grow{
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.box_tables{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    margin-bottom: 40px;
}

.card_table_s{
    width: 49%;
    height: 400px;
    padding: 10px;
    /* border: 1px solid rgb(223, 223, 223); */
    border-radius: 7px;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;
    background-color: #ffffff;
}
.card_table_p{
    width: 49%;
    height: 400px;
    padding: 10px;
    border-radius: 7px;
    /* border: 1px solid rgb(223, 223, 223); */
    box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;
    background-color: #ffffff;
}
.gbdx{
    font-weight: 500;
}

.view_more{
    width: 100%;
    margin-top: 10px;
    display: flex;
    justify-content: center;
}


.nxh{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

thead{
    background-color: #003d71;
    color: #ffffff;
    height: 40px;
}
thead tr th{
    padding: 10px;
}
tbody tr td{
    padding: 10px;
}
tbody tr{
    border-bottom: 1px solid #ddd;
}

tbody{
    display: block;
    overflow-y: auto;
    height: 295px;
}
thead tr, tbody tr {
    display: table;
    width: 100%;
    table-layout: fixed;
}

@media(max-width: 500px){
    .cardx1{
        flex-direction: column;
    }
    .box1{
        width: 100%;
        margin-bottom: 15px;
    }
    .box_chart{
        height: 600px;
        flex-direction: column;
        margin-bottom: 15px;
    }
    .card_chart{
        width: 100%;
        height: 300px;
        margin-bottom: 15px;
    }
    .grow{
        width: 100%;
        height: 285px;
    }
    .box_tables{
        flex-direction: column;
    }
    .card_table_s{
        width: 100%;
        margin-bottom: 15px;
    }
    .card_table_p{
        width: 100%;
    }

}