.container_config{
    padding: 30px 20px;
    position: relative;
}

.cards_body{
    margin-left: 10%;
}

.boxs{
    width: 100%;
    display: flex;
}
.boxs .names{
    width: 400px;
}


.titles_config{
    width: 100%;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.create_cashier_card{
    margin-bottom: 20px;
    border: 1px solid #ddd;
    padding: 15px;
    border-radius: 7px;
}

.f_foot{
    display: flex;
    gap: 15px;
}
/* tbody{
    height: 330px;
    display: block;
    overflow-y: auto;
}
thead tr, tbody tr {
    display: table;
    width: 100%;
    min-width: 750px;
    table-layout: fixed;
} */


.msg_err{
    position: fixed;
    top: 65px;
    right: 15px;
    max-width: 40%;
    z-index: 2000;
}

.contain{
    width: 55%;
}
#store_address{
    width: calc(100% - 87px);
}

@media(max-width: 900px){
    .boxs .names{
        width: 40%;
    }
}


@media(max-width: 500px){
    .container_config{
        padding: 20px 10px;
    }
    .cards_body{
        margin-left: 3%;
    }    
    .contain{
        width: 60%;
        font-size: 15px;
    }
    .boxs .names{
        font-size: 15px;
    }
    .btn{
        font-size: 15px !important;
    }
    .f_foot{
        display: block;
        gap: 0px;
    }
    .f_foot .btn{
        margin-top: 10px;
    }
}