.container_config{
    padding: 30px 20px;
    position: relative;
}

.box_one{
    display: flex;
    margin-top: 15px;
    border-bottom: 1px solid rgb(187, 187, 187);
}

.box_open{
    width: 100%;
    height: 100px;
    padding: 15px;
    background-color: #fff;
    margin-bottom: 15px;
    border-radius: 7px;
    overflow: hidden;
    transition: all .2s ease-in-out;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}

.titles_config{
    width: 100%;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.m_l{
    width: 350px;
}
.create_cashier_card{
    margin-bottom: 20px;
    border: 1px solid #ddd;
    padding: 15px;
    border-radius: 7px;
}
.form_list{
    width: 68%;
    margin-left: 40px;
}
.card_xlx{
    margin-left: 60px;
}
.card_contain{
    padding: 10px;
}
.info_store{
    border-bottom: 1px solid #ccc;
}
.ticket_info{
    padding: 20px 0px;
    border-bottom: 1px solid #ccc;
}
.type_ticket{
    border-bottom: 1px solid #ccc;
}
.tfoot{
    padding: 10px;
    border-top: 2px solid #000;
}
.card_info{
    width: 100%;
    border-bottom: 1px solid #ddd;
    display: flex;
    justify-content: space-between;
    padding: 10px;
}
.card_info p{
    margin: 0;
}
.card_info:last-child{
    border-bottom: 0;
}
.xss{
    overflow-x: auto;
}

tbody{
    height: 330px;
    display: block;
    overflow-y: auto;
}
thead tr, tbody tr {
    display: table;
    width: 100%;
    min-width: 750px;
    table-layout: fixed;
}

.cardOpen{
    display: flex;
    margin-top: 16px;
}

.open_the_card_one{
    height: 560px;
}
.open_the_card_two{
    height: 650px;
}
.open_the_card_three{
    height: 360px;
}

.btn_open_card{
    font-size: 30px;
    cursor: pointer;
}

.card_emergent_alert{
    top: 0px;
}

@media(max-width: 900px){
    .form_list{
        margin-left: 20px;
    }
}


@media(max-width: 500px){
    .container_config{
        padding: 20px 10px;
    }
    .m_l{
        display: none;
    }
    .form_list{
        width: 100%;
        margin-left: 0;
    }
    thead tr, tbody tr {
        width: 700px;
        display: table;
        table-layout: fixed;
    }
    .xss{
        overflow-x: auto;
    }
    .card_xlx{
        margin-left: 30px;
    }
}