*{
    font-family: 'Prompt', sans-serif;
}
:root{
    --blue: #003d71;
    --blue_one: #00223f;
    --blue_three: rgb(0, 149, 255);
    --orange: #fe4818;
    --white: #ffffff;
    --gris: #aeaeae;
    --gris2: #cdcdcd;
}

body{
    background-color: #ebebf0;
}

nav{
    height: 60px;
    width: 100%;
    background-color: #fff;
    display: flex;
    align-items: center;
    border-bottom: 1px solid var(--gris2);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
}

#container{
    height: calc(100vh - 60px);
}
.cont{
    width: 100%;
    height: 100%;
    display: flex;
}
.card_logo{
    display: flex;
    width: 300px;
    height: 100%;
    padding-left: 20px;
    align-items: center;
    border-right: 1px solid var(--gris2);
}
.logo{
    width: 110px;
}
.logo img{
    width: 100%;
}
.header_p{
    width: calc(100% - 300px);
    height: 100%;
    display: flex;
    padding: 0px 80px 0px 15px;
    justify-content: space-between;
    align-items: center;
}
.btn_menu_large_scr{
    cursor: pointer;
}

.user_account{
    display: flex;
    align-items: center;
}
.user_account p{
    color: #000 !important;
}
.user_account .img_p{
    background-color: #e1e1e1;
}

.user_menu{
    position: fixed;
    top: 60px;
    left: 0;
    height: 100vh;
    width: 300px;
    transition: 0.3s;
    background-color: var(--blue_one);
}

.user_profile{
    display: flex;
    align-items: center;
    margin-bottom: 30px;
    padding: 15px 25px;
}
.img_p{
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
    background-color: var(--white);
    
}
.img_p span{
    color: #fe4818;
    font-size: 28px;
}
.full_name p{
    margin: 0;
    padding-left: 10px;
    font-size: 18px;
    font-weight: 500;
    color: var(--white);
}
.sub_m{
    width:30px ;
    height: 30px;
    margin-left: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.sub_m span{
    font-size: 30px;
}

.sub_m :hover{
    background-color: #ddd;
    border-radius: 50px;
    cursor: pointer;
}

.navbar_nav{
    width: 100%;
    padding: 15px 0px 0px 0px;
}
.navbar_nav a{
    color: var(--white);
    padding: 10px 25px;
    width: 100%;
    font-weight: 500;
    display: flex;
    align-items: center;
    transition: 0.2s;
}
.navbar_nav a span{
    color: var(--white);
    margin-right: 10px;
}
.navbar_nav a:hover{
    background-color: var(--orange);
    color: var(--white);
    transition: 0.2s;
}
.navbar_nav a:hover span{
    color: var(--white);
    transition: 0.2s;
}
.nav_link{
    text-decoration: none;
}
.nav_link:last-child{
    margin-top: 100px;

}

.not_found{
    text-align: center;
    font-size: 30px;
    width: 100%;
}

.icon_menu{
    display: none;
    cursor: pointer;
    padding-top: 10px;
}
.icon_menu span{
    font-size: 36px;
}
.card_head{
    display: none;
    width: 100%;
    height: 60px;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #ddd;
    padding: 13px;
}
.card_head .logo2{
    width: 130px;
}
.card_head .logo2 img{
    width: 100%;
}
.card_head .close_nav{
    width: 40px;
    height: 40px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.my_container{
    width: calc(100% - 300px);
    margin-left: 300px;
    margin-top: 60px;
    transition: 0.3s;
}

.main_container{
    max-width: 100%;
    height: 100%;
}

.container_all_scr{
    width: 100%;
    margin-left: 0px;
    transition: 0.3s;
}

.selected{
    background-color: var(--orange);
    color: var(--white) !important;
}
.selected span{
    color: var(--white) !important;
}

.display_none{
    display: none;
}

.display_enaible{
    pointer-events: none;
    color: #ffffff94 !important;
}

.toggleMenuDesktop{
    left: -300px;
    transition: 0.3s;
}

/* emergency alert */
.card_emergent_alert{
    position: absolute;
    right: 20px;
    max-width: 70%;
    z-index: 2000;
}

@media(max-width: 1500px) {
    /* .main_container{
        max-width: 100%;
    } */
}


@media(max-width: 900px){
    
    .my_container{
        width: 100%;
        margin-left: 0px;
        margin-top: 60px;
    }
    .main_container{
        width: 100%;
    }
    .card_logo{
        display: none;
    }
    .header_p{
        width: 100%;
    }
    .btn_menu_large_scr{
        display: none;
    }
    .user_menu{
        width: 400px;
        top: 0px;
        left: -400px;
        transition: all .4s;
    }
    .user_profile_mobil{
        display: flex;
    }
    .icon_menu{
        display: block;
    }
    .navbar_nav{
        padding-top: 0px;
    }
    .card_head{
        display: flex;
        margin-bottom: 20px;
        padding: 0;
        background-color: var(--white);
        padding-left: 25px;
    }
    .user_profile .full_name p{
        font-size: 22px;
    }
    .navbar_nav a{
        font-size: 21px;
    }

    .toggleMenu{
        left: 0px;
    }   
}

@media(max-width: 500px){
    .user_menu{
        width: 80%;
        left: -80%;
        transition: all .4s;
    }
    .user_account{
        display: none;
    }
    .grow{
        margin-left: 0px;
    }
    .navbar_nav a{
        padding: 15px 30px;
        font-size: 20px;
    }
    .user_profile .full_name p{
        font-size: 20px;
    }
    .toggleMenu{
        left: 0px;
    }
}






























