
*{
    font-family:  sans-serif;
}
nav{
    width: 100%;
    height: 80px;
    background-color: #ffff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 90px 0px 90px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
    box-shadow: rgba(33, 35, 38, 0.1) 0px 10px 10px -10px;
}
nav .logo img{
    width: 160px;
}
nav ul{
    display: flex;
    margin: 0;

}
li{
    list-style: none;
    
}
ul li a{
    color: #fe4818;
    border: 2px solid #fe4818;
    text-decoration: none;
    border-radius: 5px;
    margin-right: 15px;
    padding: 10px 15px;
    font-weight: 500;
    transition: 0.5s;
}
ul li a:hover{
    color: #ffff;
    background-color: #fe4818;
}

.active{
    color: #ffff;
    background-color: #fe4818; 
}

.box-slider{
    width: 100%;
    height: 100vh;
    padding-top: 80px;
    position: relative;
    overflow: hidden;
    margin-bottom: 70px;
    background: rgb(0,117,255);
    background: linear-gradient(90deg, rgb(0,117,255) 0%, rgba(0,117,255,1) 35%, rgba(77,211,255,1) 100%);
}
.containx{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    display: flex;
    justify-content: space-between;
    padding-left: 40px;
    padding-right: 40px;
    z-index: 1;
}
.img{
    width: 40%;
    height: 100%;
    display: flex;
    align-items: flex-end;
}
.img img{
    width: 100%;
}
.htxd{
   width: 50%;
   height: 100%;
   display: flex;
   align-items: center;
   padding-bottom: 30px;
}
.main_tx h1{
    font-weight: 600;
    font-size: 70px;
    color: #ffff;
}
.main_tx p{
    color: #ffff;
    font-size: 30px;
    font-weight: 300;
    margin-bottom: 30px;
}
.main_tx a{
    padding: 15px 30px;
    text-decoration: none;
    color: #ffff;
    border-radius: 5px;
    font-size: 20px;
    font-weight: 500;
    border: 2px solid #ffff;
    transition: 0.5s;
}
.main_tx a:hover{
    color: rgb(9,10,86);
    background-color: #ffff;
}

.text-service{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 50px;

}
.text-service p{
    font-size: 50px;
    color: #007fdb;
    font-weight: 500;
}

.box-service{
    width: 100%;
    display: flex;
    justify-content: center;
}
.box-center{
    width: 80%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}
.card-text{
    height: 370px;
    padding: 15px;
    display: flex;
    border-radius: 15px;
}

.image_card{
    width: 120px;
    height: 120px;
    padding-top: 10px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    margin: auto;
    border: 4px solid #00a1ec;
    justify-content: center;
}
.image_card img{
    width: 100%;
}
.card_head p{
    font-size: 26px;
    font-weight: 500;
    color: #00a1ec;
    text-align: center;
    
}
.card_body p{
    font-size: 20px;
    font-weight: 400;
    text-align: center;
    color: rgb(75, 75, 75);
}
.nube{
    width: 100%;
    height: 600px;
    display: flex;
    justify-content: center;
    margin: 100px 0 150px 0;
    background-color: #003b94;
}
.nube2{
    width: 75%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.img_cloud{
    width: 1300px;
    margin: auto;
    margin-right: 40px;
}
.img_cloud img{
    width: 100%;
}

.x1 p{
    text-align:start;
    color: #ffff;
    font-weight: 500;
}
.x2 p{
    text-align:start;
    color: #ffff;
    font-weight: 300;
}

.space4{
    width: 100%;
    margin-bottom: 200px;
}
.space4 h3{
    text-align: center;
    font-size: 50px;
}
.space4 p{
    text-align: center;
    font-size: 40px;
    font-weight: 500;
}
.btn_f{
    width: 100%;
    text-align: center;
    margin-top: 40px;
}
.btn_f a{
    padding: 15px 30px;
    text-decoration: none;
    color: rgb(255, 255, 255);
    border-radius: 5px;
    font-size: 20px;
    font-weight: 500;
    transition: 0.5s;
    background-color: #fe4818;
}


.fooder{
    width: 100%;
    height: 350px;
    display: flex;
    flex-wrap: wrap;
    background-color: #091130;
    justify-content: center;
}
.card_fooder{
    align-self: center;
    justify-content: center;
    text-align: center;
    margin-top: 30px;
}
.more_info{
    display: flex;
    width: 100%;
    margin-top: 20px;
    justify-content: center;
}
.about{
    padding: 10px 20px;
    color: rgb(204, 204, 206);
    border-right: 1px solid #fff;
}
.sn{
    width: 300px;
}
.about p{
    text-align: end;
}
.sn p{
    margin: 0;
}
.contact{
    padding: 10px 20px;
    color: rgb(204, 204, 206);
}
.contact p{
    text-align: start;
    /* margin: 0; */
}
.email{
    margin-bottom: 0;
}
.copyright {
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: center;
    align-self: flex-end;
}
.copyright p{
    color: #ffff;
}

.card_logo_white{
    width: 200px;
    margin: auto;
}
.card_logo_white img{
    width: 100%;
}

.color_w{
    color: #fff;
}


@media(max-width: 1500px){
    .main_tx h1{
        font-size: 45px;
    }
    .main_tx p{
        font-size: 25px;
    }
}

@media(max-width: 900px){
    .box-center{
        width: 100%;
        grid-template-columns: repeat(3, 1fr); 
        gap: 10px;
    }
    .containx{
        flex-direction: column;
        padding: 80px  20px 0px 20px;
    }
    .htxd{
        width: 100%;
        height: 50%;
        padding-bottom: 10px;
    }
    .img{
        width: 100%;
        height: 48%;
    }
    .img img{
        width: 100%;
        height: 100%;
        object-fit: contain;
    }
    .space4{
        padding: 0px 20px;
    }
}   


@media(max-width: 500px){
    nav{
        height: 70px;
        padding: 0px 30px 0px 30px;
    }
    nav .logo img{
        width: 120px;
    }
    nav  ul{
        display: none;
        margin-right: 10px;
        padding: 5px 10px;
    }
    .box-slider{
        padding-top: 70px;
    }
    
    .main_tx h1{
        text-align: center;
        font-size: 30px;
    }
    .main_tx p{
        text-align: center;
        font-size: 20px;
    }
    .main_tx a{
        
    }
    .join{
        text-align: center;
    }
    .card-text{
        height: 330px;
        border-radius: 0px;
    }
    .text-service p{
        font-size: 40px;
    }
    .box-center{
        grid-template-columns: repeat(1, 1fr); 
        gap: 0px;
    }

    .nube2{
        width: 95%;
        flex-direction: column;
    }
    .img_cloud{
        width: 250px;
        margin: 0;
       
    }
    .cloud_text p{
        text-align:center;
    }

    .fooder{
        height: 500px;
    }
    .card_fooder{
        margin-top: 10px;
    }
    .more_info{
        flex-direction: column;
    }

    .about{
        padding: 10px 10px;
        border-right: none;
    }
    .sn{
        width: 100%;
    }
    .about p{
        text-align: center;
    }
    .contact p{
        text-align: center;
    }
    .copyright p{
        /* margin-top: 20px; */
        padding-bottom: 10px;
        font-size: 15px;
        text-align: center;
    }
}