
.containe{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.card_1{
    width: 750px;
    height: 600px;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    border: 1px solid rgb(220, 219, 219);
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}
.card_h{
    width: 100%;
    text-align: center;
}
.card_h img{
    width: 150px;
}
.form{
    width: 100%;
    display: flex;
    justify-content: center;
}
form{
    width: 300px;
}
.btn{
    color: #fff;
    background-color: rgb(34, 64, 218);
}
.btn:hover{
    color: #fff;
    background-color: rgb(34, 64, 218);
}

@media(max-width: 900px){
    .card_1{
        width: 500px;
    }
}

@media(max-width: 500px){
    .card_1{
        border: 0px;
        box-shadow:none;
    }
    .containe{
        align-items: flex-start;
    }
}