
#container{
    padding-top: 50px;
}

.modal-dialog {
    max-width: 1000px  !important ;
    margin: 30px auto;

}
#showListProduct{
    height: 455px;
    display: block;
    overflow-y: auto;
}
#thead tr{
    display: table;
    width: 100%;
    table-layout: fixed;
}
#showListProduct tr{
    display: table;
    width: 100%;
    table-layout: fixed;
}
.card_error{
    width: 100%;
    padding: 10px;
}
.err_color{
    background-color: rgba(255, 23, 23, 0.692);
}
.success_color{
    background-color: rgba(50, 255, 23, 0.692);
}
.inactive{
    pointer-events: none;
}

#listCashiers{
    height: 40px;
}

#btn_open_sele{
    display: flex;
    align-items: center;
}

.footer_data{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

