
#container{
    display: none;
    padding-top: 50px;
}

.box_store_name{
    width: 100%;
    display: none;
    justify-content: center;
    margin-top: 250px;
}
.card_store_name{
    border: 1px solid #ddd;
    border-radius: 7px;
    padding: 25px;
    background-color: #fff;

}
.tx_ist{
    font-size: 25px;
    font-weight: 300;
}

.modal-dialog {
    max-width: 1000px  !important ;
    margin: 30px auto;

}
#showListProduct{
    height: 400px;
    display: block;
    overflow-y: auto;
}
#thead tr{
    display: table;
    width: 100%;
    table-layout: fixed;
}
#showListProduct tr{
    display: table;
    width: 100%;
    table-layout: fixed;
}
.card_error{
    width: 100%;
    padding: 10px;
}
.err_color{
    background-color: rgba(255, 23, 23, 0.692);
}
.success_color{
    background-color: rgba(50, 255, 23, 0.692);
}
.inactive{
    pointer-events: none;
}

#listCashiers{
    height: 40px;
}



.footer_data{
    width: 100%;
    border-bottom: 1px solid #ddd;
    display: flex;
    justify-content: space-between;
    padding-bottom: 10px;
}
.footer_btn{
    width: 100%;
    display: flex;
    justify-content: space-between;
}



@media(max-width: 500px){
    #container{
        padding-top: 30px;
    }
    .mbg{
        display: none;
    }
    .t_b{
        padding-left: 10px;
    }
    .card_table_body{
        height: calc(100% - 100px);
    }
}


