
.box_plans{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 60px;
}
.card_center{
    width: 70%;
    display: flex;
    gap: 20px;
}
.card_includes{
    padding: 30px;
    border: 1px solid #ddd;
    border-radius: 7px;
}
.include{
    padding: 0px 200px;
}

.card_type_plans{
    width: 50%;
    display: flex;
    flex-wrap: wrap;
}
.card_free{
    width: 100%;
    height: 190px;
    border: 1px solid #ddd;
    margin-bottom: 20px;
    border-radius: 7px;
}
.card_pro{
    width: 100%;
    height: 190px;
    border: 1px solid #ddd;
    border-radius: 7px;
    align-self: flex-end;
}   

th{
    padding: 10px;
}
td{
    padding: 10px;
}