

.card_table_body{
    height: calc(100% - 223px);
}

#btn_open_form{
    display: flex;
    align-items: center;
}
#code input{
    width: 230px;
}
h3{
    padding-left: 15px;
}

.card_emergent_alert{
    top: 10px;
}

@media(max-width: 500px){
    #code input{
        width: 150px;
    }
    
}