.card_info{
    width: 100%;
    border-bottom: 1px solid #ddd;
    display: flex;
    justify-content: space-between;
    padding: 10px;
}
.card_info p{
    margin: 0;
}
.card_info:last-child{
    border-bottom: 0;
}


@media(max-width: 500px) {
    .user_table{
        overflow-y: auto;
    }
}
